<div class="container">
  <div class="row">
      <div class="col-md-4" *ngFor="let result of results">
        <a href="character/{{ result.id }}"><div class="card" style="width: 18rem;">
          <img class="card-img-top" src='{{ result.image }}' alt="Card image cap">
          <div align="center"class="card-body">
            <h5 class="card-title">{{ result.name }}</h5>
            <p class="card-text">({{ result.species }})</p>
            <hr>
            
            <p class="card-text">Location: {{ result.location.name }}</p>
            <p class="card-footer" *ngIf="result.status == 'Alive'" style="background-color:rgb(11, 213, 11);">{{ result.status }}</p>
            <p class="card-footer" *ngIf="result.status == 'Dead'" style="background-color:rgb(209, 0, 0);">{{ result.status }}</p>
            <p class="card-footer" *ngIf="result.status == 'unknown'" style="background-color:rgb(220, 220, 0);">{{ result.status }}</p>
          </div>
        </div></a>
      </div>
  </div>
</div>
<section infiniteScroll (scrolled)="onScrolledDown()"></section>