.card{
    color: white;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
    box-shadow: 5px 3px 25px rgb(77, 77, 77);
    margin: 40px;
    min-height: 90%;
}

.card:hover{
    box-shadow: 3px 3px 10px rgb(77, 77, 77);
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: white;
}

#button{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    padding: 1rem;
    background-color: rgb(71, 71, 71);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
