.row{
    margin-top: 55px;
}

a {
    text-decoration: none;
    color:white
}

#box{
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 10px;
    box-shadow: 5px 3px 25px #151515;
    margin: 40px;
}


#box:hover{
    box-shadow: 3px 3px 10px #151515;
    transition: all 0.3s;
}

#cards {
    color: white;
    background-color: rgb(71, 71, 71);
    box-shadow: 5px 3px 15px rgb(98, 98, 98);
}

.card img{
    margin-left: -15px;
    width: 112.5%;
}
